/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #a61d1d;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 20px;
}

h1, h2, h4 {
    color: #2c04a3;
}

/* Form styles */
form {
    background-color: #0d2042;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #0e868a;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #639676;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Confirmation Page */
body center h2 {
    margin-top: 100px;
    color: #27ae60;
    font-size: 24px;
}
